p img{
width: 120px;
float: left;
}

.test-1 { font-weight: 700;
	margin: 18px 18px 18px 18px;
	padding: 18px 18px 18px 18px;
	line-height: 18px;
}
.test-2 { font-weight: 400;
	margin: 40px 5px 40px 5px;
	padding: 40px 5px 40px 5px;
}

.test-3 {float: right;
	margin: 10px 0px 0px 0px;
}

.test-4 {font-weight: 600;
}

.test-5 {font-style: italic;
}